<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>switch case in Angular</h1>
  <div [ngSwitch]="color">
       <h2 style="color: red;" *ngSwitchCase="'red'">
        redcolour
       </h2>
       <h2 style="color: green;" *ngSwitchCase="'green'">
        green
       </h2>
       <h2 style="color: blue;" *ngSwitchCase="'blue'">
        blue
       </h2>
       <h2 style="color: grey;" *ngSwitchDefault>
         default
       </h2>
  </div>
</body>
</html>
